.input__label {
  width: 100%;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  display: block;
}

.input__input {
  width: 100%;
  font-size: 14px;
  padding: 7px 0 10px;
  box-sizing: border-box;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
  margin: 0;
}

.input__input:focus {
  border-bottom: 1px solid #000;
}

.input__input::placeholder {
  color: #a0a0a0;
}

.input__input_error {
  color: #ff4062;
}

.input__error {
  color: #ff4062;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  min-height: 22px;
}