.movies-card {
  display: flex;
  flex-direction: column;
}

.movies-card__ratio-box {
  position: relative;
}

.movies-card__ratio-box::after {
  display: block;
  content: '';
  padding-bottom: 56%;
}

.movies-card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movies-card__info {
  padding: 9px 0 11px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin: 4px 0 0;
  min-height: 34px;
}

.movies-card__btn {
  margin: 0 0 0 25px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f9f9f9;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.movies-card__btn_feat_like {
  background-image: url('../../images/like-button.svg');
}

.movies-card__btn_feat_like-active {
  background-image: url('../../images/like-button-active.svg');
}

.movies-card__btn_feat_delete {
  background-image: url('../../images/delete-card-button.svg');
  display: none;
}

.movies-card:hover .movies-card__btn_feat_delete {
  display: block;
}

.movies-card__duration {
  color: #a0a0a0;
  font-size: 11px;
  line-height: 13px;
  margin: 6px 0 0;
}

@media all and (max-width: 640px) {
  .movies-card__title {
    font-size: 12px;
    line-height: 15px;
    margin-top: 6px;
  }

  .movies-card__btn_feat_delete {
    display: block;
  }
}