.input-profile__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  margin: 13px 0 0;
  align-items: center;
}

.input-profile__input {
  margin: 0 0 0 10px;
  padding: 5px 0 5px 10px;
  flex-grow: 1;
  box-sizing: border-box;
  text-align: right;
  border: none;
}

.input-profile__input:focus {
  outline: 1px solid #e8e8e8;
  border-radius: 2px;
}

.input-profile__input_error {
  color: #ff4062;
}

.input-profile__error {
  color: #ff4062;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  min-height: 16px;
}