.promo {
  background-color: #F3C1F8;
  min-height: 525px;
  background-image: url("../../images/pic__COLOR_landing-logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 82px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.promo__title {
  font-size: 50px;
  line-height: 1.16;
  max-width: 730px;
  font-weight: 400;
  text-align: center;
  margin: 184px 0 0 0;
  letter-spacing: -.04em;
}

@media all and (max-width: 768px) {
  .promo {
    min-height: 784px;
    background-position-y: 224px;
  }

  .promo__title {
    margin-top: 326px;
  }
}

@media all and (max-width: 550px) {
  .promo {
    padding: 0;
    background-size: 248px;
    min-height: 570px;
    background-position-y: 142px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    margin-top: 207px;
  }
}