.about-me {
  padding: 110px 70px 0;
  box-sizing: border-box;
  max-width: 1280px;
  margin: auto;
}

.about-me__title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  margin: 0 0 23px 0;
  letter-spacing: -.04em;
}

.about-me__wrap {
  width: 100%;
  border-top: 1px solid #000;
  margin: 0;
  padding: 66px 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about-me__name {
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  margin: 0;
}

.about-me__subtitle {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
  margin: 18px 0 26px;
}

.about-me__paragraph {
  font-size: 14px;
  line-height: 1.57;
  max-width: 600px;
  margin: 0 0 99px;
}

.about-me__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media all and (max-width: 1024px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 1;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 1.5;
    margin: 16px 0 20px;
  }

  .about-me__paragraph {
    font-size: 12px;
    line-height: 1.5;
    margin: 0 49px 87px 0;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media all and (max-width: 640px) {
  .about-me {
    padding: 70px 14px 0;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
  }

  .about-me__wrap {
    padding-top: 60px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    margin-top: 40px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0;
  }

  .about-me__paragraph {
    font-size: 11px;
    line-height: 1.45;
    margin: 0 0 40px 0;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }
}